<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="mdk-drawer__inner" data-simplebar data-simplebar-force-enabled="true">

            <nav class="drawer  drawer--dark">
                <div class="drawer-spacer drawer-spacer-border">
                    <div class="media align-items-center">
                        <img src="/assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle mr-2" width="40" alt="">
                        <div class="media-body" style="line-height: 1.2">
                            <a href="profile.html"><strong>Andrew Robles</strong></a>
                            <div>Site Manager</div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle dropdown-clear-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="material-icons">more_vert</i>
</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item dropdown-item-action ">View Profile</a>
                                <a href="#" class="dropdown-item dropdown-item-action ">Edit Account</a>
                                <a href="#" class="dropdown-item dropdown-item-action">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HEADING -->
                <div class="drawer-heading">
                    Menu
                </div>
                <!-- MENU -->
                <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#" data-target="#dashboardMenu" aria-controls="dashboardMenu" aria-expanded="true">
<i class="material-icons">home</i>
<span class="drawer-menu-text"> Dashboard</span>
</a>
                        <ul class="collapse show" id="dashboardMenu">
                            <li class="drawer-menu-item active"><a href="index.html">Dashboard 1</a></li>
                            <li class="drawer-menu-item "><a href="index-second.html">Dashboard 2</a></li>
                            <li class="drawer-menu-item "><a href="index-third.html">Dashboard 3</a></li>
                        </ul>
                    </li>
                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#appsMenu" data-target="#appsMenu" aria-controls="appsMenu" aria-expanded="false" class="collapsed">
<i class="material-icons">view_quilt</i>
<span class="drawer-menu-text">Sale</span>
</a>
                        <ul class="collapse " id="appsMenu">
                            <li class="drawer-menu-item "><a href="/sale">Sale List</a></li>
                            <li class="drawer-menu-item "><a href="/sale/insert">Add Sale</a></li>
                            <li class="drawer-menu-item "><a href="#">Update Sale</a></li>
                        </ul>
                    </li>
                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#" data-target="#dashboardMenu1" aria-controls="dashboardMenu" aria-expanded="false" class="collapsed">
<i class="material-icons">home</i>
<span class="drawer-menu-text"> Import</span>
</a>
                        <ul class="collapse" id="dashboardMenu1">
                            <li class="drawer-menu-item"><a href="/importorder">Import Order List</a></li>
                            <li class="drawer-menu-item "><a href="importorder/insert">Add Import Order</a></li>
                        </ul>
                    </li>
                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#" data-target="#uiMenu" aria-controls="uiMenu" aria-expanded="false" class="collapsed">
<i class="material-icons">library_books</i>
<span class="drawer-menu-text">Customer</span>
</a>
                        <ul class="collapse " id="uiMenu">
                            <li class="drawer-menu-item "><a href="/stockholder/customer">Customer List</a></li>
                            <li class="drawer-menu-item "><a href="/stockholder/insertCustomer">Add Customer</a></li>
                        </ul>
                    </li>
                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#" data-target="#formsMenu" aria-controls="formsMenu" aria-expanded="false" class="collapsed">
<i class="material-icons">text_format</i>
<span class="drawer-menu-text">Exporter</span>
</a>
                        <ul class="collapse " id="formsMenu">
                            <li class="drawer-menu-item "><a href="/stockholder/exporter">Exporter List</a></li>
                            <li class="drawer-menu-item "><a href="/stockholder/insertExporter">Add Exporter</a></li>
                        </ul>
                    </li>

                    <li class="drawer-menu-item drawer-submenu">
                        <a data-toggle="collapse" data-parent="#mainMenu" href="#" data-target="#pageMenu" aria-controls="pageMenu" aria-expanded="false" class="collapsed">
<i class="material-icons">layers</i>
<span class="drawer-menu-text">Product</span>
</a>
                        <ul class="collapse " id="pageMenu">
                            <li class="drawer-menu-item "><a href="/product">Product List</a></li>
                            <li class="drawer-menu-item "><a href="/product/insert">Add Product</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- HEADING -->
                <div class="drawer-heading">
                    Activity
                </div>
            </nav>

        </div>
    </div>
</div>