b<%- include('../partials/head.ejs') %> 
<div class="main">
    <div class="contain">
        <div class="card">
            <div class="card-header text-center">
                <%= title %> 
            </div>
            <div class="card-body">
                <form action="/importOrder/insert" method="POST">
                    <div class="row my-3">
                        <div class="row col-9">
                            <label for="customer" class="col-3 col-form-label d-block text-start">Customer Name</label>
                            <div class="col-9">
                                <select name="customer" id="customer" class="form-select">
                                    <option value="" selected> </option>
                                    <% for (let customer of customers){ %>
                                    <option value="<%= customer._id %>"> <%= customer.name %> </option>
                                    <% } %>
        
                                </select>
                            </div>
                        </div>
                        <div class="row col-3">
                            <label for="date" class="col-4 d-block text-end">Date </label>
                            <div class="col-8"><input type="date" name="date" id="date" class="form-control"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include('../partials/tail.ejs') %> 
<script></script>
</body>
</html>