<div class="position-absolute" style="left: 15%;bottom: 80%;width: 70%;">
    <div class="position-relative">
        <% if(flashMessage.success){ %>
            <div class="text-center alert alert-success alert-dismissible show" role="alert">
                <%= flashMessage.success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        <% } %>
        <% if(flashMessage.fail){ %>
            <div class="text-center alert alert-danger alert-dismissible show my-3" role="alert">
                <%= flashMessage.fail %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        <% } %>

    </div>
    
</div>