<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-dark" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">CPRE</div>
                </li>
                <li>
                    <a href="/dashboard" class="nav-link ps-3 active">
                        <span><i class="bi bi-speedometer"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="my-1">
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Short cut Link</div>
                </li>
                <li>
                    <a href="/sale/insert" class="nav-link px-3">
                        <span><i class="bi bi-file-plus"></i></span>
                        <span class="ps-2">Add Sale</span>
                    </a>
                </li>
                <li>
                    <a href="/sale" class="nav-link px-3">
                        <span><i class="bi bi-list-task"></i></span>
                        <span class="ps-2">Sale List</span>
                    </a>
                </li>
                <li>
                    <a href="/stockholder/customer" class="nav-link px-3">
                        <span><i class="bi bi-list-task"></i></span>
                        <span class="ps-2">Customer List</span>
                    </a>
                </li>
                <li class="my-1">
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Page</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#sale"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span><i class="bi bi-shop"></i></span>
                        <span class="ps-2">Sale</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="sale">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/sale/Insert" class="nav-link px-3">
                                        <span><i class="bi bi-file-plus"></i></span>
                                        <span class="ps-2">Add Sale</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/sale" class="nav-link px-3">
                                        <span><i class="bi bi-list-task"></i></span>
                                        <span class="ps-2">Sale List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span><i class="bi bi-layout-split"></i></span>
                                        <span class="ps-2">Update Sale</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#product"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span><i class="bi bi-book"></i></span>
                        <span class="ps-2">Product</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="product">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/product/insert" class="nav-link px-3">
                                        <span><i class="bi bi-file-plus"></i></span>
                                        <span class="ps-2">Add Product</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/product" class="nav-link px-3">
                                        <span><i class="bi bi-list-task"></i></span>
                                        <span class="ps-2">Product List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span><i class="bi bi-layout-split"></i></span>
                                        <span class="ps-2">Price update</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#purchase"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span><i class="bi bi-bag"></i></span>
                        <span class="ps-2">Purchase</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="purchase">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span><i class="bi bi-file-plus"></i></span>
                                        <span class="ps-2">Add Purchase</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span><i class="bi bi-list-task"></i></span>
                                        <span class="ps-2">Purchase List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span><i class="bi bi-layout-split"></i></span>
                                        <span class="ps-2">Update Purchase</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#stockholder"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span><i class="bi bi-person-lines-fill"></i></span>
                            <span class="ps-2">Stockholder</span>
                            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="stockholder">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/stockholder/insertCustomer" class="nav-link px-3">
                                            <span><i class="bi bi-file-plus"></i></span>
                                            <span class="ps-2">Add Customer</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stockholder/customer" class="nav-link px-3">
                                            <span><i class="bi bi-list-task"></i></span>
                                            <span class="ps-2">Customer List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stockholder/insertExporter" class="nav-link px-3">
                                            <span><i class="bi bi-file-plus"></i></span>
                                            <span class="ps-2">Add Exporter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stockholder/exporter" class="nav-link px-3">
                                            <span><i class="bi bi-list-task"></i></span>
                                            <span class="ps-2">Exporter List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stockholder" class="nav-link px-3">
                                            <span><i class="bi bi-list-task"></i></span>
                                            <span class="ps-2">Stockholder list</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </li>
            </ul>
        </nav>
    </div>
</div>